@model EventManager.Web.ViewModels.UserPage.NotificationViewModel


<h3>Notifications <span class="hasNotifAm">@Model.PendingsCount</span></h3>

<div class="notificationItem eventNotification">
    @foreach (var item in Model.PendingEvents)
    {
        <div class="notifTitle">
            <a class="notifLink" href="@Url.Action("UserDetails", "UserPage", new { userId = item.InvitorId })">@item.InvitorName</a> invited you to an event
        </div>
        <div class="notifEventDetails">
            <a href="@Url.Action("Event", "Event", new { id = item.Id })">
                <div class="notifEventPic" style="background-image: url(@item.ImagePath)"></div>
            </a>

            <div class="notifEventName">
                <a class="notifLink" href="@Url.Action("Event", "Event", new { id = item.Id })">@item.Name</a>
            </div>
        </div>
        <div class="notifOptions">
            <form action="@Url.Action("AcceptEvent", "Event")" method="post">
                <button type="submit" name="eventId" value="@item.Id" class="inviteAccept">Accept</button>
            </form>
            <form action="@Url.Action("DeclineEvent", "Event")" method="post">
                <button type="submit" name="eventId" value="@item.Id" class="inviteDecline">Decline</button>
            </form>
        </div>
    }
</div>
<div class="notificationItem friendNotification">
    @foreach (var item in Model.PendingUsers)
    {
        <div class="friendDetails">
            <a href="@Url.Action("UserDetails", "UserPage", new { userId = item.Id })">
                <div class="notifUserPic" style="background-image: url(@item.PhotoPath)"></div>
            </a>

            <div><a class="notifLink" href="@Url.Action("UserDetails", "UserPage", new { userId = item.Id })">@item.Name</a> requested a friendship</div>
        </div>
        <div class="notifOptions">
            <form action="@Url.Action("AcceptFriend", "UserPage")" method="post">
                <button type="submit" name="userId" value="@item.Id" class="inviteAccept">Accept</button>
            </form>
            <form action="@Url.Action("RemoveFriend", "UserPage")" method="post">
                <button type="submit" name="userId" value="@item.Id" class="inviteDecline">Decline</button>
            </form>
        </div>
    }
</div>