@using EventManager.Web.ViewModels.UserPage
@model SearchViewModel

<h4 id="searchUserHead">Users</h4>

<div  id="searchUser" class="searchUser">
    @foreach (var item in Model.Users)
    {
        <a href="@Url.Action("UserDetails", "UserPage", new { userId = item.Id })">
            <div class="searchUserPic" style="background-image: url(@item.PhotoFileName)"></div>
            <div class="searchUserName">@item.UserName</div>
        </a>
    }

</div>

<h4 id="searchEventHead">Events</h4>

<div id="searchEvent" class="searchUser">
    @foreach (var item in Model.Events)
    {
        <a href="@Url.Action("Event", "Event", new { id = item.Id })">
            <div class="searchEventPic" style="background-image: url(@item.ImagesFilePath)"></div>
            <div class="searchEventTitle">@item.Destination</div>
        </a>
    }

</div>

<h4 id="searchFriendHead">Friends</h4>

<div  id="searchFriend" class="searchUser">
    @foreach (var item in Model.Friends)
    {
        <a href="@Url.Action("UserDetails", "UserPage", new { userId = item.Id })">
            <div class="searchUserPic" style="background-image: url(@item.PhotoFileName)"></div>
            <div class="searchUserName">@item.UserName</div>
        </a>
    }

</div>

