
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
<<<<<<< HEAD
    <link rel="icon" type="image/ico" href="../../Images/icons/logo.ico">
    <script src="../../Scripts/CustomScripts/jquery.min.js"></script>
    <script src="../../Scripts/CustomScripts/jquery.browser.min.js"></script>
    <script src="../../Scripts/CustomScripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../Scripts/CustomScripts/validation.js"></script>
=======
    <meta name="viewport" content="width=device-width">
    <script src="../../Scripts/CustomScripts/jquery.min.js"></script>
    <script src="../../Scripts/CustomScripts/jquery.browser.min.js"></script>
    <link rel="icon" type="image/ico" href="../../Images/icons/logo.ico">
>>>>>>> 0d937a97e5dd787508eeaf1aa6c6d8dc655c4a70
    @Scripts.Render("~/bundles/scriptScript")
    @Styles.Render("~/Content/globalStyle")
    @Styles.Render("~/Content/indexStyle")
    @*@Scripts.Render("~/bundles/jquery")*@
</head>

<style>
    .no-js #loader {
        display: none;
    }

    .js #loader {
        display: block;
        position: absolute;
        left: 100px;
        top: 0;
    }

    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(../../Images/Preloader_3.gif) center no-repeat #fff;
    }
</style>
<script>
    $(window).on('load',function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
    });
    console.log('banana');
        $("#createEvent").validate({
            rules: {
            title: {
                            required: true,
                            minlength: 3,
                            maxlength: 30
                        },
                Email: {
                                required: true,
                                minValue: 3,
                                regex:/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/

                            },
                            Password: {
                                required: true,
                                minlength: 6
                            },
                            ConfrimPassword: {
                                required: true,
                                minlength: 6,
                                equalTo: '#Password'
                            }

            }
        });
</script>

<body>
    <div class="se-pre-con"></div>
    <img src="~/Images/background1.jpg" alt="" id="bg">
    <header id="mainHeader">
        <ul id="headerMenu">
            <li class="buttonHeader selectedHeaderButton" id="homeButton"><a href="#" onclick="homeView()">Home</a></li>
            <li class="buttonHeader" id="loginButton"><a href="#" onclick="loginFormView()">Login</a></li>
            <li class="buttonHeader" id="registerButton"><a href="#" onclick="registerFormView()">Register</a></li>
        </ul>
    </header>

    <main>
        @RenderBody()
    </main>

    <div id="loginForm">
        @Html.Partial("~/Views/Account/Login.cshtml", new EventManager.Web.ViewModels.Account.LoginViewModel())
    </div>

    <div id="registerForm">
        @Html.Partial("~/Views/Account/Register.cshtml", new EventManager.Web.ViewModels.Account.RegisterViewModel())
    </div>

    <footer id="mainFooter">
        <span id="footerText">(c) Copyright J&D</span>
    </footer>

    
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    
    @RenderSection("scripts", required: false)
</body>

</html>