@using EventManager.Web.ViewModels.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div id="loginFormContent">
    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor(m => m.Email, new { type = "text", placeholder = "Email", name = "email" })

        @Html.PasswordFor(m => m.Password, new { type = "password", placeholder = "Password", name = "password" })

        @*<div id="rememberMe">
                <input type="checkbox" checked="checked"><label>Remember me</label>
            </div>*@

        <button type="submit" class="formSubmitButton">Login</button>


        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
    @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
